<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Your Catchy Title goes here"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title Looks Good!</div>
      </div>
      <label for="description" class="form-label">Description</label>
      <div class="mb-3">
        <textarea
          name="listing[description]"
          placeholder="Description here"
          class="form-control"
          type="text"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short Description</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload Image </label>

        <input name="listing[image]" type="file" class="form-control" required />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>

          <input
            class="form-control"
            name="listing[price]"
            placeholder="1200"
            type="text"
            required
          />
          <div class="invalid-feedback">Enter a valid Price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>

          <input
            class="form-control"
            name="listing[country]"
            placeholder="India"
            required
            type="text"
          />
          <div class="invalid-feedback">Country name should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>

        <input
          name="listing[location]"
          placeholder="Delhi, CP"
          type="text"
          required
          class="form-control"
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Category</label>
        <select name="listing[category]" class="form-select" required>
          <option value="">Select Category</option>
          <option value="Trending">Trending</option>
          <option value="Budget Stays">Budget Stays</option>
          <option value="Luxury">Luxury</option>
          <option value="Rooms">Rooms</option>
          <option value="Apartments">Apartments</option>
          <option value="Family">Family</option>
          <option value="Pet Friendly">Pet Friendly</option>
          <option value="Tourist Spots">Tourist Spots</option>
          <option value="Monthly Stays">Monthly Stays</option>
        </select>
      </div>

      <br /><br />
      <button class="btn btn-dark add-btn">Add</button>
      <br /><br />
    </form>
  </div>
</div>
